apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openedx-media
  namespace: openedx-prod
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: 20Gi
