loki:
  enabled: true
  isDefault: false
  persistence:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi

promtail:
  enabled: true

fluent-bit:
  enabled: false

grafana:
  enabled: false
